<section class="p-2">
  <div class="bg-white rounded shadow-1">
    <div class="flex align-center justify-between p-6">
      <div class="flex align-center f00">
        {{inline-svg 'comparison-icon-lg' class="mr-2"}}
        <div>
          <div class="lh-1">
            {{format-number organization.subscription.currentUsageStats.total}}
          </div>
          <div class="f6 text-light text-weight-semibold">
            Current Visual Validations
          </div>
        </div>
      </div>
      <div class="text-right">
        <div class="f5 text-weight-semibold">
          {{moment-format organization.subscription.currentPeriodStart 'MMMM Do YYYY'}} - {{moment-format organization.subscription.currentPeriodEndDisplayed 'MMMM Do YYYY'}}
        </div>
        <span class="f6 text-weight-bold bg-purple-600 text-white text-right py-sm px-1" style="border-radius: 11px;">
          Current Billing Period
        </span>
      </div>
    </div>
    {{organizations/billing-usage-graph organization=organization}}
  </div>

  {{#if true}}
    <div class="flex justify-between align-center mb-1">
      <div class="f2 pl-2">Billing Info</div>
      <div class="f6 text-light text-weight-semibold border border-gray-100 rounded px-1 py-sm c-pointer">Update Billing Info</div>
    </div>
    <div class="border border-gray-100 p-2 mb-4 rounded grid col-2 gap-2 align-center">
      <div class="flex flex-column justify-center px-2">
        <div class="flex align-center mb-2">
          {{inline-svg "standard-plan-check" class="mr-2"}}
          <div>
            <div class="text-weight-bold f3 lh-1 mb-sm">Standard</div>
            <div class="text-light lh-1">Your next billing period is May 4th, 2018</div>
          </div>
        </div>
        <p class="text-light">
          You're currently on the <strong>Standard Plan</strong>. If you need more from Percy, check out our other <a href="#" class="text-weight-bold">Pricing Plans</a> for one that better suits your needs.
        </p>
      </div>
      <div>
        <div class="bg-white shadow-1 p-2 rounded mb-1">
          <div class="flex align-center border-bottom border-gray-000 pb-1 mb-1">
            <div class="text-weight-semibold mr-2">Name</div>
            <div>Mike Fotinakis</div>
          </div>
          <div class="flex align-center border-bottom border-gray-000 pb-1 mb-1">
            <div class="text-weight-semibold mr-2">Email</div>
            <div>mike@gmail.com</div>
          </div>
          <div class="flex align-center">
            <div class="text-weight-semibold mr-2">Phone</div>
            <div>(941) 555-0123</div>
          </div>
        </div>
        <div class="bg-white shadow-1 py-1 px-2 rounded flex align-center justify-between">
          <div>**** **** **** 4242</div>
          <div class="flex align-center">
            <div>02 / 28</div>
            <div class="ml-3">287</div>
          </div>
        </div>
      </div>
    </div>
  {{/if}}

   {{#if true}}
    <div class="f2 pl-2 mb-1">Billing History</div>
    <div class="border border-gray-100 pt-2 px-2 pb-1 rounded">
      <div class="bg-white shadow-1 p-2 rounded flex align-center justify-between mb-1">
        <div>
          <div class="f4 text-weight-semibold lh-1">Sept. 4, 2017</div>
          <div class="text-light text-weight-semibold">$2,376</div>
        </div>
        <div class="flex align-center">
          <div class="text-weight-semibold text-light f6"><span class="text-dark f5">16</span> Reviewers</div>
          <div class="text-weight-semibold text-light f6 ml-4"><span class="text-dark f5">70,972</span> Visual Validations</div>
          <a href="#" class="text-weight-semibold ml-4">Invoice</a>
          <a href="#" class="text-weight-semibold ml-4 mr-2">PDF</a>
        </div>
      </div>
      <div class="bg-white shadow-1 p-2 rounded flex align-center justify-between mb-1">
        <div>
          <div class="f4 text-weight-semibold lh-1">Sept. 4, 2017</div>
          <div class="text-light text-weight-semibold">$2,376</div>
        </div>
        <div class="flex align-center">
          <div class="text-weight-semibold text-light f6">
            <span class="text-dark f5">16</span> Reviewers</div>
          <div class="text-weight-semibold text-light f6 ml-4">
            <span class="text-dark f5">70,972</span> Visual Validations</div>
          <a href="#" class="text-weight-semibold ml-4">Invoice</a>
          <a href="#" class="text-weight-semibold ml-4 mr-2">PDF</a>
        </div>
      </div>
      <div class="bg-white shadow-1 p-2 rounded flex align-center justify-between mb-1">
        <div>
          <div class="f4 text-weight-semibold lh-1">Sept. 4, 2017</div>
          <div class="text-light text-weight-semibold">$2,376</div>
        </div>
        <div class="flex align-center">
          <div class="text-weight-semibold text-light f6">
            <span class="text-dark f5">16</span> Reviewers</div>
          <div class="text-weight-semibold text-light f6 ml-4">
            <span class="text-dark f5">70,972</span> Visual Validations</div>
          <a href="#" class="text-weight-semibold ml-4">Invoice</a>
          <a href="#" class="text-weight-semibold ml-4 mr-2">PDF</a>
        </div>
      </div>
      <div class="bg-white shadow-1 p-2 rounded flex align-center justify-between mb-1">
        <div>
          <div class="f4 text-weight-semibold lh-1">Sept. 4, 2017</div>
          <div class="text-light text-weight-semibold">$2,376</div>
        </div>
        <div class="flex align-center">
          <div class="text-weight-semibold text-light f6">
            <span class="text-dark f5">16</span> Reviewers</div>
          <div class="text-weight-semibold text-light f6 ml-4">
            <span class="text-dark f5">70,972</span> Visual Validations</div>
          <a href="#" class="text-weight-semibold ml-4">Invoice</a>
          <a href="#" class="text-weight-semibold ml-4 mr-2">PDF</a>
        </div>
      </div>
      <div class="bg-white shadow-1 p-2 rounded flex align-center justify-between mb-1">
        <div>
          <div class="f4 text-weight-semibold lh-1">Sept. 4, 2017</div>
          <div class="text-light text-weight-semibold">$2,376</div>
        </div>
        <div class="flex align-center">
          <div class="text-weight-semibold text-light f6">
            <span class="text-dark f5">16</span> Reviewers</div>
          <div class="text-weight-semibold text-light f6 ml-4">
            <span class="text-dark f5">70,972</span> Visual Validations</div>
          <a href="#" class="text-weight-semibold ml-4">Invoice</a>
          <a href="#" class="text-weight-semibold ml-4 mr-2">PDF</a>
        </div>
      </div>
    </div>
  {{/if}}
</section>
