{{title "Features"}}
<header class="primary-hero bg-purple-gradient text-white pb-2 mb-9">
  <div class="container container-xl">
    <div class="flex justify-between items-center mb-9">
      {{inline-svg "percy-full-horizontal-on-dark"}}
      <div class="flex justify-end pt-2 mb-2 text-white font-semibold">
        {{#if session.isAuthenticated}}
          {{nav-menu user=session.currentUser}}
        {{else}}
          <div class="flex justify-end pt-2 mb-4">
            {{nav-menu}}
          </div>
        {{/if}}
      </div>
    </div>
  </div>
  <div class="container container-lg mb-3">
    <div class="w-3/4 mb-9">
      <h1 class="text-2xl md:text-3xl md:text-4xl font-normal mb-2">Percy Changelog</h1>
      <div class="w-3/4">
        <h2 class="text-xl font-normal mb-3">Have a look at what we're building to make automated visual testing more efficient and accessible to all.</h2>
      </div>
      <div class="mb-2">
        {{#if session.isAuthenticated}}
          {{goto-app
            redirectToDefaultOrganization="redirectToDefaultOrganization"
            data-test-index-goto-app=true
          }}
        {{else}}
          {{login-button showLoginModal="showLoginModal"}}
        {{/if}}
      </div>
    </div>
  </div>
</header>

{{marketing/content-block
  mainImage="/images/icons/marketing/1.jpg"
  superHeader="SMART VISUAL DIFFS"
  header="Visual coverage across your entire UI"
  subheader="Percy detects and highlights pixel-by-pixel visual diffs across your web applications and component libraries."
  imagePosition="left"
  supportingTexts=(array
    (hash
      header="Pixel-by-pixel Diffs HELLo"
      bodyText="Toggle between visual diffs and rendered snapshots to review visual regressions in your UI."
      supportingContentIcon="/marketing/comparison"
    )
    (hash
      header="Responsive Diffs"
      bodyText="Have confidence in the visual integrity of your UI across all your users’ devices with responsive visual diffs."
      supportingContentIcon="/marketing/responsive"
    )
    (hash
      header="Snapshot Stabilization"
      bodyText="We minimize false positives by freezing video and animations, managing font services, and more."
      supportingContentIcon="/marketing/switch"
    )
  )
}}

{{marketing/content-block
  mainImage="/images/icons/marketing/2.jpg"
  superHeader="REVIEWAL WORKFLOW"
  header="Review, approve & deploy with confidence"
  subheader="Review relevant, high-impact visual changes with every product update."
  imagePosition="right"
  supportingTexts=(array
    (hash
      header="Snapshot comparisons"
      bodyText="Review relevant, high-impact visual changes with every product update."
      supportingContentIcon="/marketing/eye"
    )

    (hash
      header="Commit synchronization"
      bodyText="Percy manages baseline picking, branch logic, and approval carryforwards, so your reviews are always in sync with your workflow."
      supportingContentIcon="/marketing/git"
    )

    (hash
      header="Status updates"
      bodyText="Keep your team on the same page with automatic status updates in your pull requests or merge requests whenever a change is detected or approved."
      supportingContentIcon="/marketing/indicator"
    )
  )
}}

{{marketing/content-block
  mainImage="/images/icons/marketing/4.jpg"
  superHeader="INTEGRATIONS"
  header="Seamless integrations for every team"
  subheader="Easily add visual coverage with Percy’s custom built integrations."
  imagePosition="left"
  supportingTexts=(array
    (hash
      header="Framework agnostic implementation"
      bodyText="Implement visual tests to your web app or component library with Percy’s extensive set of client libraries."
      supportingContentIcon="/marketing/funnel"
    )
    (hash
      header="Leverage existing workflows and tests by integrating your CI/CD service–we support all the leading platforms."
      bodyText="CI service support"
      supportingContentIcon="/marketing/conveyor"
    )
    (hash
      header="Source code integrations"
      bodyText="With Percy’s SCM integrations it’s easy to incorporate visual reviews and maintain the source of truth on every commit."
      supportingContentIcon="/marketing/magnify"
    )
  )
}}

<section class="bg-gray-pattern py-8 border-t">
  <div class="flex items-center justify-between container-lg">
    <div class="flex items-center">
      <figure class="svg-container mr-2">
        {{inline-svg "marketing/logo-lg-on-light"}}
      </figure>
      <div>
        <div class="text-lg font-semibold">
          Ready to get started?
        </div>
        <p class="mb-0">
          Choose the visual testing solution that’s right for your team.
        </p>
      </div>
    </div>
    <div class="btn-toolbar">
      <button class="btn btn-primary btn-md shadow-purple-xl font-bold" type="button" name="button">
        Start Free Trial
      </button>
      <button class="btn btn-md shadow-purple-xl text-gray-700 font-bold" type="button" name="button">
        Schedule Demo
      </button>
    </div>
  </div>
</section>

{{main-footer}}
